<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeus.member_project.mapper.MemberMapper">

    <insert id="insertMember">
        INSERT INTO MEMBER (id, pw, name, age)
        VALUES (#{id}, #{pw}, #{name}, #{age})
    </insert>

    <select id="loginMember" resultType="com.zeus.member_project.domain.Member">
        SELECT id, pw, name, age, auth, regdate
        FROM MEMBER
        WHERE id = #{id}
          AND pw = #{pw}
    </select>

    <select id="getMemberList" resultType="com.zeus.member_project.domain.Member">
        SELECT *
        FROM MEMBER
        ORDER BY regdate DESC
    </select>

    <delete id="deleteMember">
        DELETE
        FROM MEMBER
        WHERE id = #{id}
    </delete>

    <select id="read" resultType="com.zeus.member_project.domain.Member">
        SELECT *
        FROM MEMBER
        WHERE id = #{id}
    </select>

    <update id="updateMember">
        UPDATE MEMBER
        SET pw   = #{pw},
            name = #{name},
            age  = #{age}
        WHERE id = #{id}
    </update>
</mapper>