<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.member_project.mapper.BoardMapper">

    <insert id="insertBoard">
        INSERT INTO TBL_BOARD (bno, title, content, writer)
        VALUES (SEQ_BOARD.NEXTVAL, #{title}, #{content}, #{writer})
    </insert>

    <select id="boardList" resultType="com.kh.member_project.domain.Board">
        SELECT bno, title, writer, content, regdate
        FROM TBL_BOARD
        <where>
            <if test="keyword != null and keyword != ''">
                (title LIKE '%' || #{keyword} || '%'
                OR content LIKE '%' || #{keyword} || '%'
                OR writer LIKE '%' || #{keyword} || '%')
            </if>
        </where>
        ORDER BY bno DESC
    </select>

    <select id="readBoard" resultType="com.kh.member_project.domain.Board">
        SELECT bno, title, content, writer, regdate
        FROM TBL_BOARD
        WHERE bno = #{bno}
    </select>

    <delete id="deleteBoard">
        DELETE
        FROM TBL_BOARD
        WHERE bno = #{bno}
    </delete>

    <update id="updateBoard">
        UPDATE TBL_BOARD
        SET title   = #{title},
            content = #{content},
            regdate = SYSDATE
        WHERE bno = #{bno}
    </update>

</mapper>